@model IEnumerable<WebApplicationASP.Models.LeavingViewModel>

@{
    ViewData["Title"] = "Index";
    var departName = "";
    departName = ViewBag.departName;


}
@if (ViewBag.AlertMessage != null)
{
   if(ViewBag.AlertMessage == "N")
   {

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            สิทธิของท่านไม่สามารถอนุมัติใบลาได้
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
     
	
   }
  
}

<div class="card shadow-lg">
    <div class="card-header bg-primary">
        <h3>ส่วนงาน @departName @ViewBag.message </h3>
    </div>
    <div class="card-body">



        <table class="table" id="example1">

            <thead class="thead-dark">
                <tr>
                    @* <th>
                        <span>สถานะ </span>
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.SECT_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMPLOYEE_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NAME)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.START_DATE)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ABSENCE_CODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ABSENCE_DAY)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ABSENCE_HOUR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ABSENCE_DOCUMENT)
                    </th>

                    
                    <th class="text-center">ผู้ทบทวน</th>
                    <th class="text-center">ผู้อนุมัติ</th>
                    <th>รายละเอียด</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    double hour = double.Parse(item.ABSENCE_HOUR);

                    if (hour > 0)
                    {
                        item.COUNT_DATE = "0";

                    }

                    var txtCode = "";
                    switch (item.ABSENCE_CODE)
                    {
                        case "AB":
                            txtCode = "ลากิจไม่รับค่าจ้าง";
                            break;
                        case "02":
                            txtCode = "ลากิจ";
                            break;
                        case "29":
                            txtCode = "พักร้อน";
                            break;
                        case "11":
                            txtCode = "ลาป่วย";
                            break;
                        case "BA":
                            txtCode = "ลาป่วยไม่รับเงิน";
                            break;
                        case "VL":
                            txtCode = "ลาไม่รับค่าจ้าง";
                            break;
                        case "14":
                            txtCode = "ลาคลอด";
                            break;
                        case "BD":
                            txtCode = "ลาคลอดไม่รับค่าจ้าง";
                            break;
                        default:

                            break;
                    }
                    var colorStatus = "";
                    var txtStatus = "";
                    switch (item.ABSENCE_STATUS)
                    {
                        case "2":
                            txtStatus = "อนุมัติ";
                            colorStatus = "badge badge-success";
                            break;
                        case "0":
                            txtStatus = "รอผู้ทบทวน";
                            colorStatus = "badge badge-warning";
                            break;
                        case "1":
                            txtStatus = "รอผู้อนุมัติ";
                            colorStatus = "badge badge-warning";
                            break;
                        case "3":
                            txtStatus = "ไม่อนุมัติ";
                            colorStatus = "badge badge-danger";
                            break;

                        default:

                            break;
                    }
                    if (item.STATUS_APPROVE == "disapprove")
                    {
                        colorStatus = "badge badge-danger";
                        txtStatus = "ไม่อนุมัติ";

                    }

                    <tr>
                        @* <td>
                            <span class="@colorStatus">@txtStatus</span>
                        </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.SECT_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPLOYEE_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.START_DATE)
                        </td>



                        <td>
                            @Html.DisplayFor(modelItem => txtCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.COUNT_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ABSENCE_HOUR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ABSENCE_DOCUMENT)
                        </td>


                        @if(item.ABSENCE_STATUS == "1")
                        {
                            string btnDis = "disabled";
                        }

                        <td class="text-center">
                            @if(item.ABSENCE_STATUS == "1")
                            {
                                if (item.STATUS_APPROVE == "approved" || item.STATUS_APPROVE == "approve")
                                {
                                    <span class="text-success">@item.REVIEW</span>
                                }
                                else
								{
									<span class="text-danger">@item.REVIEW</span>
								}
                                
                            }
                            else
                            {
                                <a style="width:80px" class="btn btn-success " asp-controller="Leaving" asp-action="UpdateReviewApprove" asp-route-id="@item.ABSENCE_DOCUMENT">อนุมัติ</a>
                                <a style="width:90px" class="btn btn-danger" asp-controller="Leaving" asp-action="UpdateReviewReject" asp-route-id="@item.ABSENCE_DOCUMENT">ไม่อนุมัติ</a>
                            }
                           
                        </td>
                        <td class="text-center">
                            @if (item.ABSENCE_STATUS == "2")
                            {
                                <span>@item.APPROVE</span>
                            }
                            else
                            {
                                <a style="width:80px" class="btn btn-success" asp-controller="Leaving" asp-action="UpdateApprove" asp-route-id="@item.ABSENCE_DOCUMENT">อนุมัติ</a>
                                <a style="width:90px" class="btn btn-danger" asp-controller="Leaving" asp-action="UpdateReject" asp-route-id="@item.ABSENCE_DOCUMENT">ไม่อนุมัติ</a>
                            }
                           
                        </td>
                        <td>
                            <a style="width:110px" class="btn btn-warning" asp-controller="Leaving" asp-action="Details" asp-route-id="@item.ABSENCE_DOCUMENT">รายละเอียด</a>
                        </td>
                        @*  <td>
                    <a class="btn btn-warning" asp-controller="Leaving" asp-action="PDF" asp-route-id="@item.ABSENCE_DOCUMENT">PDF</a>
                    </td>   *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
