@model WebApplicationASP.Models.LeavingViewModelList

@{
	ViewData["Title"] = "LeaveEmpCode";
}





<div class="card">
	<div class="card-header bg-primary">
		<div class="card-title">
			<span>ค้นหาการลาของพนักงาน</span>
		</div>
		
	

	</div>
	<div class="card-body">


		<div class="row justify-content-center">
			<div class="col-3">
				<form asp-action="LeaveEmpCode" method="post">
					<div class="form-group">
						<label for="empCode">รหัสพนักงาน</label>
						<input type="text" class="form-control" asp-for="EmployeeCode" />

					</div>
					<div align="center">
						<button class="btn btn-primary" type="submit"><i class="fa fa-search"> ค้นหา</i></button>
					</div>

				</form>
			</div>

		</div>
		
		<table class="table" id="example1">

			<thead class="thead-dark">
				<tr>
					<th>
						<span>สถานะ </span>
					</th>
					<th>
						แผนก

					</th>

					<th>
						รหัสพนักงาน
					</th>

					<th>
						ชื่อ-นามสกุล
					</th>

					<th>
						วันที่ลา
					</th>

					<th>
						ประเภทการลา
					</th>
					<th>
						จำนวนวัน
					</th>
					<th>
						จำนวนชั่วโมง
					</th>
					<th>
						รหัสเอกสาร
					</th>


					<th></th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.LeavingViewModel)
				{

					double hour = double.Parse(item.ABSENCE_HOUR);

					if (hour > 0)
					{
						item.COUNT_DATE = "0";

					}

					var txtCode = "";
					switch (item.ABSENCE_CODE)
					{
						case "AB":
							txtCode = "ลากิจไม่รับค่าจ้าง";
							break;
						case "02":
							txtCode = "ลากิจ";
							break;
						case "29":
							txtCode = "พักร้อน";
							break;
						case "11":
							txtCode = "ลาป่วย";
							break;
						case "BA":
							txtCode = "ลาป่วยไม่รับเงิน";
							break;
						case "VL":
							txtCode = "ลาไม่รับค่าจ้าง";
							break;
						case "14":
							txtCode = "ลาคลอด";
							break;
						case "BD":
							txtCode = "ลาคลอดไม่รับค่าจ้าง";
							break;
						case "23":
							txtCode = "ลาเมตตาจิต";
							break;

						default:

							break;
					}
					var colorStatus = "";
					var txtStatus = "";
					switch (item.ABSENCE_STATUS)
					{
						case "2":
							txtStatus = "อนุมัติ";
							colorStatus = "badge badge-success";
							break;
						case "0":
							txtStatus = "รอผู้ทบทวน";
							colorStatus = "badge badge-warning";
							break;
						case "1":
							txtStatus = "รอผู้อนุมัติ";
							colorStatus = "badge badge-warning";
							break;
						case "3":
							txtStatus = "ไม่อนุมัติ";
							colorStatus = "badge badge-danger";
							break;

						default:

							break;
					}
					if (item.STATUS_APPROVE == "disapprove")
					{
						colorStatus = "badge badge-danger";
						txtStatus = "ไม่อนุมัติ";

					}

					<tr>
						<td>
							<span class="@colorStatus">@txtStatus</span>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.SECT_CODE)
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.EMPLOYEE_CODE)
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.NAME)
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.START_DATE)
						</td>

						<td>
							@Html.DisplayFor(modelItem => txtCode)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.COUNT_DATE)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ABSENCE_HOUR)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ABSENCE_DOCUMENT)
						</td>

						@if (int.Parse(item.ABSENCE_STATUS) > 0)
						{
							<td></td>
						}
						else
						{
							<td>
								<a style="width:110px" class="btn btn-danger" asp-controller="Leaving" asp-action="Delete" asp-route-id="@item.ABSENCE_DOCUMENT">ลบ</a>
							</td>
						}
						<td>
							<a style="width:110px" class="btn btn-info" asp-controller="Leaving" asp-action="Details" asp-route-id="@item.ABSENCE_DOCUMENT">รายละเอียด</a>
						</td>


						@*  <td>
					<a class="btn btn-warning" asp-controller="Leaving" asp-action="PDF" asp-route-id="@item.ABSENCE_DOCUMENT">PDF</a>
					</td>   *@
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>
